<div class="container">
<p-table #dt [value]="personas" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of cols">
                {{col.display}}
                <input *ngIf = "col.nombre !='avatar'" pInputText type="text" (input)="dt.filter($event.target.value, col.nombre, 'contains')">
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-personas>
        <tr>
            <td style="width: 10px;"><img [src]="personas.avatar"></td>
            <td>{{personas.nombre}}</td>
            <td>{{personas.apellido}}</td>
            <td>{{personas.email}}</td>
            <td>{{personas.ciudad}}</td>
            <td>{{personas.sueldo}}</td>
        </tr>
    </ng-template>
</p-table>
</div>
